<form data-id='{{postId}}' id='comment-form'>
  <h3>Leave a comment for <em>{{postTitle}}</em></h3>
  <p class='form-error hidden'></p>
  <div class='form-group'>
    <label for='comment'>Comment text</label>
    <textarea placeholder='Enter comment text...' id='comment' name='comment'></textarea>
    <div class='post-comment-btn-container'>
      <button type='submit'>Create</button>
      <button id='close-modal-btn' type='button'>Cancel</button>
    </div>
  </div>
</form>