<div class="dashboard-container">
  <div class="post-cards-container">
    {{#each posts}}
        {{>post-card}}
    {{/each}}
  </div>
   <div class="new-post-btn-container">
    <a href="/posts/create">
      <button>Create post</button>
    </a>
   </div>
</div>
