/* start sticky footer*/
html, body {
  100%
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}
/*end sticky footer*/


/*start main.handlebars*/

nav {
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
}

nav ul li a:hover {
  opacity: 0.8;
}

.dashboard-heading-container {
  margin: 1.5rem 0 1.5rem 1rem;
  background-color: #eee;
  width: 200px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dashboard-heading-container h2 {
  font-size: 2rem;
  color: #333;
}

/*end main.handlebars*/

/*start homepage.handlebars*/
.post-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 600px;
}

.post-card-container {
  margin: 1rem;
  border: 1px solid #333;
  width: 95%;
  border-radius: 4px;
}

.post-card-heading {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background: #333;
  padding: 0.5rem;
}

.post-card-body {

  margin: 1rem;
}


/*end homepage.handlebars*/